/*OPERACIONES MATEMATICAS*/
/*SUMA = valor o una variable + numero*/
/*RESTA = valor o una variable - numero*/
/*MULTIPLICACION = valor o una variable * numero*/
/*DIVISION = calc(valor o variable / numero divisor) */
h1 {
    margin-bottom: calc($espaciado / 10);
}

/*APLICANDO MIXIN*/
#principal {
    @include flex-column-centrado;
}

.img1 {
                    /*ancho, alto*/
    @include medidas(50px, 100px)
}

.img2 {
    @include medidas(200px, 300px)
}

/*EXTEND*/
/*EL EXTEND Y SASS EN GENERAL SON 100% SEMANTICOS Y CUIDADORES DE LAS BUENAS PRÁCTICAS*/
.botones {
    width: 150px;
    padding: 8px 10px;
    border-radius: 20px;
}

.boton--aceptar {
    @extend .botones;
    background-color: green;
}

.boton--cancelar {
    @extend .botones;
    background-color: red;
}

/*CONDICIONALES*/
body {
                                     /*hacia la izquierda*/
    // background-image: linear-gradient(to left, red, yellow);

    // background-image: radial-gradient(circle, red, gold);

    // background-image: radial-gradient(ellipse 250px 100px, lightgreen,darkslateblue);

    // background-image: radial-gradient(red, yellow, green, blue);

    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=5536c6&c2=b7b1bd&gt=l&gd=dbr
*/
background: #5536C6;
background: linear-gradient(315deg, #5536C6, #B7B1BD);
}

/*TRANSFORMACIONES*/
.cajita {
    width: 200px;
    height: 200px;
    background-color: red;

    /*TRANSLATE*/
    /*Atajo para mover en los ejes X y eje Y*/
    // transform: translate(10px, 20px);

    /*Para eje X (izquierda y derecha)*/
    // transform: translateX(30px);

    /*Para eje Y (arriba y abajo)*/ 
    // transform: translateY(30px);

    /*ROTATE: tiene opciones para los ejes con rotateX, rotateY, rotateZ*/
    // transform: rotate(160deg);

    /*SCALE: Los valores no necesitan unidades de medida*/
    // transform: scale(2,1);

    /*SKEW (SESGAR, DEFORMAR O TORCER)*/
    // transform: skew(20deg,10deg);

    /*TRANSICIONES*/
    transition: width 2s;
    /* propiedad duración */
}

/*EJEMPLO PARA ESCALAR UN ELEMENTO*/
.cajita:hover {
    /*escalarlo en los dos ejes, o en uno solo usando scaleX o scaleY*/
    // transform: scale(2);

    /*la transicion funciona en 2 partes. La primera, escribir la transition en el elemento, y la 2da, escribir lo que va a cambiar en el hover*/
    width: 400px;
}

.menu-ejemplo {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-ejemplo li a {
    text-decoration: none;
    color: green;
    background-color: black;
    padding: 5px 10px;

    transition: all .5s;
}

.menu-ejemplo li a:hover {
    background-color: green;
    color: black;
}

.foco {
    width: 150px;
    transition: width 3s;
}

.foco:focus {
    width: 300px;
}

/*keyframes*/
#animacion {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-color: green;
    /*Nombre*/
    animation-name: un_efecto;

    /*Cuanto va a durar el bucle*/
    animation-iteration-count: infinite;

    /*Propiedad de visualizacion del efecto*/
    animation-timing-function: ease-in;

    /*duracion de la animacion*/
    animation-duration: 2s;

    /*Cuando empieza*/
    animation-delay: 10s;
 
}

/*decido qué va a pasar en esta animacion*/
@keyframes un_efecto {
    0%{ 
        width: 100px; 
    }
    10%{ 
        width: 50px; 
    }
    25%{ 
        width: 300px; 
    }
    50%{ 
        width: 200px;
      background-color: red; 
    }
    75%{ 
        width: 300px;
    }
    100%{ 
        width: 100px;
        background-color:green;
    }
}

/*BARRA PROGRESO*/
.section-barra {
    display: flex;
    justify-content: center;
}
.barra-progreso {
    margin-top: 30px;
    width: 60%;
    border: solid 1px;
    height: 15px;
}

.barra-rellena {
    border: solid 1px;
    height: 13px;
    width: 40%;
    background-color: green;

    animation: rellenando 3s;
}

@keyframes rellenando {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

h1 {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
 }
 
 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

 .icono-insta {
    font-size: 60px;
 }
 
